# stupid mac files #
####################
.DS_Store 

# pig log files.  #
###################
*.log

# results of pig execution #
############################
*.crc
*.avsc
*.csv

# R history files #
###################
.RData 
.Rhistory

